In [6]:
import pandas as pd
df = pd.read_csv("aapl_no_dates.csv")
df.head()

     Open    High     Low   Close    Volume
0  144.88  145.30  143.10  143.50  14277848
1  143.69  144.79  142.72  144.09  21569557
2  143.02  143.50  142.41  142.73  24128782
3  142.90  144.75  142.90  144.18  19201712
4  144.11  145.95  143.37  145.06  21090636

In [11]:
rng = pd.date_range(start = "08-01-2023",end = "08-30-2023", freq="B")
rng

DatetimeIndex(['2023-08-01', '2023-08-02', '2023-08-03', '2023-08-04',
               '2023-08-07', '2023-08-08', '2023-08-09', '2023-08-10',
               '2023-08-11', '2023-08-14', '2023-08-15', '2023-08-16',
               '2023-08-17', '2023-08-18', '2023-08-21', '2023-08-22',
               '2023-08-23', '2023-08-24', '2023-08-25', '2023-08-28',
               '2023-08-29', '2023-08-30'],
              dtype='datetime64[ns]', freq='B')

# Using CustomBusinessDay to generate Banladesh holidays calendar frequency

In [17]:
from pandas.tseries.offsets import CustomBusinessDay
from pandas.tseries.holiday import AbstractHolidayCalendar, Holiday, nearest_workday

class BangladeshHolidayCalendar(AbstractHolidayCalendar):
    rules = [
        Holiday('New Year', month=1, day=1),
        Holiday('International Workers\' Day', month=5, day=1),
        Holiday('Victory Day', month=12, day=16),
        Holiday('Christmas Day', month=12, day=25),
        Holiday('Friday',month=8,day=4)
        # Add more holidays here
    ]
    
ban_cal = CustomBusinessDay(calendar=BangladeshHolidayCalendar())

rng = pd.date_range(start = "08-01-2023",end = "08-30-2023", freq=ban_cal)
rng # friday 4th date is holiday

DatetimeIndex(['2023-08-01', '2023-08-02', '2023-08-03', '2023-08-07',
               '2023-08-08', '2023-08-09', '2023-08-10', '2023-08-11',
               '2023-08-14', '2023-08-15', '2023-08-16', '2023-08-17',
               '2023-08-18', '2023-08-21', '2023-08-22', '2023-08-23',
               '2023-08-24', '2023-08-25', '2023-08-28', '2023-08-29',
               '2023-08-30'],
              dtype='datetime64[ns]', freq='C')

# CustomBusinessDay
Weekend in egypt is Friday and Saturday. Sunday is just a normal weekday and you can handle this custom week schedule using CystomBysinessDay with weekmask as shown below

In [18]:
ban_holiday = "Sat Sun Mon Tue Wed Thu" # only friday is holiday
ban = CustomBusinessDay(weekmask=ban_holiday)
rng = pd.date_range(start = "08-01-2023",end = "08-30-2023", freq=ban)
rng

DatetimeIndex(['2023-08-01', '2023-08-02', '2023-08-03', '2023-08-05',
               '2023-08-06', '2023-08-07', '2023-08-08', '2023-08-09',
               '2023-08-10', '2023-08-12', '2023-08-13', '2023-08-14',
               '2023-08-15', '2023-08-16', '2023-08-17', '2023-08-19',
               '2023-08-20', '2023-08-21', '2023-08-22', '2023-08-23',
               '2023-08-24', '2023-08-26', '2023-08-27', '2023-08-28',
               '2023-08-29', '2023-08-30'],
              dtype='datetime64[ns]', freq='C')