In [1]:
pip install mysql

Collecting mysql
  Downloading mysql-0.0.3-py3-none-any.whl (1.2 kB)
Collecting mysqlclient
  Downloading mysqlclient-2.2.0-cp310-cp310-win_amd64.whl (199 kB)
     ------------------------------------ 199.9/199.9 kB 184.0 kB/s eta 0:00:00
Installing collected packages: mysqlclient, mysql
Successfully installed mysql-0.0.3 mysqlclient-2.2.0
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install SQLAlchemy

Requirement already satisfied: SQLAlchemy in c:\users\sm samrat\anaconda3\lib\site-packages (1.4.39)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\sm samrat\anaconda3\lib\site-packages (from SQLAlchemy) (2.0.1)
Note: you may need to restart the kernel to use updated packages.

In [8]:
pip install pymysql

Requirement already satisfied: pymysql in c:\users\sm samrat\anaconda3\lib\site-packages (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [22]:
import sqlalchemy
from sqlalchemy import create_engine
import pymysql

# Replace with your actual MySQL credentials and database information
engine = create_engine('mysql://root:@127.0.0.1:3306/mydb')
engine

Engine(mysql://root:***@127.0.0.1:3306/mydb)

In [24]:
df = pd.read_sql_table('customers',engine, columns=['name'])
df

     name
0  Donald
1    Bill
2    Modi

In [33]:
df = pd.read_sql_table('orders',engine)
df

   id            name  amount  customers_id
0   1    Google Pixel     950             2
1   2      Yoga Mat\t      20             1
2   3  Fossil Watch\t     120             3

In [48]:
query = '''
 SELECT customers.name, customers.phone_number, orders.name, orders.amount
 FROM customers INNER JOIN orders
 ON customers.id=orders.customers_id
'''
pd.read_sql(query,engine)

     name phone_number            name  amount
0    Bill   6573489999    Google Pixel     950
1  Donald   7326784567      Yoga Mat\t      20
2    Modi   4567895646  Fossil Watch\t     120

In [47]:
df = pd.read_csv("customers.csv")
df

     Customer Name  Customer Phone
0     rafael nadal      4567895647
1  maria sharapova       434534545
2   vladimir putin        89345345
3      kim un jong       123434456
4       jeff bezos       934534543
5     rahul gandhi        44324222

In [36]:
df.rename(columns = {
    'Customer Name': 'name',
    'Customer Phone': 'phone_number'
}, inplace=True)
df

              name  phone_number
0     rafael nadal    4567895647
1  maria sharapova     434534545
2   vladimir putin      89345345
3      kim un jong     123434456
4       jeff bezos     934534543
5     rahul gandhi      44324222

In [45]:
df.to_sql(
    name = 'customers',
    con = engine,
    if_exists = 'append',
    index=False 
)
df

IntegrityError: (MySQLdb.IntegrityError) (1062, "Duplicate entry '1' for key 'PRIMARY'")
[SQL: INSERT INTO customers (id, name, phone_number) VALUES (%s, %s, %s)]
[parameters: ((1, 'Donald', '7326784567'), (2, 'Bill', '6573489999'), (3, 'Modi', '4567895646'), (4, 'rafael nadal', '4567895647'), (5, 'maria sharapova', '434534545'), (6, 'vladimir putin', '89345345'), (7, 'kim un jong', '123434456'), (8, 'jeff bezos', '934534543'), (9, 'rahul gandhi', '44324222'))]
(Background on this error at: https://sqlalche.me/e/14/gkpj)

In [44]:
df = pd.read_sql_table('customers',engine)
df

   id             name phone_number
0   1           Donald   7326784567
1   2             Bill   6573489999
2   3             Modi   4567895646
3   4     rafael nadal   4567895647
4   5  maria sharapova    434534545
5   6   vladimir putin     89345345
6   7      kim un jong    123434456
7   8       jeff bezos    934534543
8   9     rahul gandhi     44324222